{% extends "expenditure_register/base.html" %}
{% load crispy_forms_tags %}


{% block title %} "Μητρώο Δεσμεύσεων" {% endblock %}

{% block content %}
{% if user.is_authenticated %}
    {% if user.is_staff %}
        <meta http-equiv="REFRESH" content="0;url={% url 'staff_timesheet_list' %}">
    {% else %}
        <meta http-equiv="REFRESH" content="0;url={% url 'timesheet_monthly_initial_list' %}">
    {% endif %}
{% else %}
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-12 col-sm-6 col-md-4">
            <div class="card mx-auto">
                <div class="card-header" style="text-align: center"><h4>Είσοδος</h4></div>
                <form class="form-container" method="post" action="">
                    <div class="form-group">
                        <div class="card-body">
                            {% csrf_token %}
                            {{  form | crispy }}
                            <input type="submit" class="btn btn-secondary btn-md"  value="Είσοδος" />
                        </div>
                    </div>
                </form>
            </div>
            <br>
            <a href="{% url 'password_reset' %}">Ξεχάσατε τον κωδικό σας;</a>
        </div>
    </div>
</div>


{% endif %}
{% endblock %}


{# Assumes you set up the password_reset view in your URLconf #}
<!-- <p><a href="{% url 'password_reset' %}">Lost password?</a></p> -->
